.main {
}

.rowClickable {
  cursor: pointer;
}

.rowCode {
  color: #006fff;
  font-weight: 500;
  white-space: nowrap;
}

.rowLotLink {
  font-weight: 500;
}

.rowMuted {
  background-color: #f3f3f3;
}