html,
body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  background-color: #d9d9d9;
}


.layout {
  border-radius: 14px;
  overflow: hidden;
  max-width: 1100px;
  margin: 20px auto;
  background: white;
  padding: 10px;
}